## numpy

In [17]:
import numpy as np

# Arrays

In [18]:
mylist =[1,2,3]
x = np.array(mylist)
x

array([1, 2, 3])

In [19]:
y = np.array([4,5,6])
y

array([4, 5, 6])

In [20]:
m = np.array([[7,8,9], [10,11,12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [21]:
m.shape

(2, 3)

In [22]:
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [23]:
n = n.reshape(3,5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [24]:
o = np.linspace(0, 4, 9)
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [25]:
o.resize(3,3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [26]:
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [27]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [28]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [29]:
np.diag(y) 
# where y is single dimensional array

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [30]:
np.array([1,2,3]*3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [31]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [32]:
p = np.ones([2,3],int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [33]:
# np.vstack([p, 2*p])

In [34]:
# np.hstack([p, 2*p])

# Operations

In [35]:
x + y

array([5, 7, 9])

In [36]:
x * y

array([ 4, 10, 18])

In [37]:
x**2

array([1, 4, 9], dtype=int32)

In [38]:
x.dot(y)

32

In [39]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [40]:
z.shape

(2, 3)

In [41]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [42]:
z.T.shape

(3, 2)

In [43]:
z.dtype

dtype('int32')

In [44]:
z.shape

(2, 3)

In [45]:
z = z.astype('f')
z.dtype

dtype('float32')

In [46]:
a = np.array([-4,-2,1,3,5])

In [47]:
a.sum()

3

In [48]:
a.mean()

0.6

In [49]:
a.min()

-4

In [50]:
a.max()

5

In [51]:
a.std()
# standard deviation

3.2619012860600183

In [52]:

a.argmax() 
# index of max value

4

In [53]:
a.argmin()
# index of minimum value

0

# indexing/slicing

In [54]:
s = np.arange(13)**2
s
# x^2 from o to 12

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [55]:
s[0], s[4], s[0:3]

(0, 16, array([0, 1, 4], dtype=int32))

In [56]:
s[-4:]
# last 4 elements of the array

array([ 81, 100, 121, 144], dtype=int32)

In [57]:
s[-5::-2]
# from last fifth element comming back with 2 at a time

array([64, 36, 16,  4,  0], dtype=int32)

In [58]:
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [59]:
r[2,2]

14

In [60]:
r[3, 3:6]

array([21, 22, 23])

In [61]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [62]:
r[-1, ::2]
# from beginning of last row to the end of with 2 at a time

array([30, 32, 34])

In [63]:
r[r>20]
# those greater than 20 in r array

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35])

In [64]:
r[r>30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [65]:
r2 = r[:3, :3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [66]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [67]:
r
# here we see changes in r2 are also reflected in r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [68]:
r3 = r[0:2].copy()
# in this case changes in r3 will not be reflected in r
r3

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11]])

In [69]:
r3[:] = 3
r3

array([[3, 3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3, 3]])

In [70]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

# iterating over arrays

In [71]:
test = np.random.randint(0, 10, (4,3))
test
# 4 by 3 array of random numbers from 0 to 9

array([[8, 7, 5],
       [6, 2, 8],
       [3, 9, 8],
       [4, 2, 8]])

In [72]:
for row in test:
    print(row)

[8 7 5]
[6 2 8]
[3 9 8]
[4 2 8]

In [73]:
for i in range(len(test)):
    print(test[i])

[8 7 5]
[6 2 8]
[3 9 8]
[4 2 8]

In [74]:
for i, row in enumerate(test):
    print('row', i, 's', row)
# enumerate gives a index(i) of the row and the row(row).

row 0 s [8 7 5]
row 1 s [6 2 8]
row 2 s [3 9 8]
row 3 s [4 2 8]

In [75]:
test2 = test**2
test2
# here test**2 means test^2(each element of test to the power 2)

array([[64, 49, 25],
       [36,  4, 64],
       [ 9, 81, 64],
       [16,  4, 64]], dtype=int32)

In [76]:
for i, j in zip(test, test2):
    print(i, "+", j, '=', i + j)
# zip is used to iterate through both arrays at the same time

[8 7 5] + [64 49 25] = [72 56 30]
[6 2 8] + [36  4 64] = [42  6 72]
[3 9 8] + [ 9 81 64] = [12 90 72]
[4 2 8] + [16  4 64] = [20  6 72]

In [2]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [3]:
!jt -1 monokai

usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
          [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE] [-m MARGINS]
          [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P] [-T] [-N] [-kl]
          [-vim] [-r] [-dfonts]
jt: error: unrecognized arguments: -1 monokai