In [31]:
import padas as pd
pd.Series?

ModuleNotFoundError: No module named 'padas'

In [20]:
animals = ["Ajay", "Rushikesh", "Ajit"]
pd.Series(animals)

0         Ajay
1    Rushikesh
2         Ajit
dtype: object

In [15]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [16]:
animals = ["Ajay", "Ajit", None]
pd.Series(animals)

0    Ajay
1    Ajit
2    None
dtype: object

In [22]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [23]:
import numpy as np
np.nan == None

False

In [24]:
np.nan == np.nan

False

In [25]:
np.isnan(np.nan)

True

In [27]:
sports = {'Archery' : 'Bhutan',
         'Golf' : 'Scotland',
          'Sumo' : "Japan",
         'Taekwondo' : 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [28]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [29]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object